/*------------------------*/
/*  PensionKey Global     */
/*  Version: 1.0;         */
/*------------------------*/

html,
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #252525;
    min-width: 320px;
}

.bc {
    color: #00a4c5 !important;
}

.header .navbar.navbar-expand-lg {
    padding: 25px 0;
    background: transparent !important;
}

.navbar-nav .nav-item .nav-link {

    color: #000e1f;
    padding: 0 24px;
    font-weight: 500;
    border-right: 2px solid #00a4c5;
    line-height: 18px;

}

.navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
    border-right: 0;
}

.intro {
    background: url(../img/slide_bg.jpg) no-repeat center #000e1f;
    color: #fff;
    padding: 70px 0;
    text-align: center;
    background-size: cover;
}

.intro h1,
.pnsform h1,
.abt_intro h1,
.mTitle h1 {

    font-size: 54px;
    line-height: 68px;
    margin-bottom: 36px;
    color: #fff;
    text-align: center;

}

.mTitle h1 {
    font-weight: 700;
}

.mTitle.sm h1 {
    font-size: 44px;
    font-weight: 600;
}

.intro h2 {

    font-size: 36px;
    margin-bottom: 36px;

}

.intro h3 {

    font-weight: 300;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 36px;

}

.intro h4 {

    font-size: 21px;

}

.pnsform {
    background: #1967a9;
    padding: 70px 0;

}

.pension_form {
    max-width: 700px;
    margin: auto;
}

.pension_form .form-control {

    border-radius: 0;
    height: 45px;
    max-width: 94%;
    margin: 0 auto 10px;
    outline: none !important;
    box-shadow: none !important;

}

.pension_form .form-control::placeholder {

    opacity: 1;
    font-weight: 600;
    color: #c2c2c2;

}

.btn-primary {
    background-color: #00a4c5;
    border-color: #00a4c5;
}

.btn-primary:hover {
    background-color: #0098b9;
    border-color: #0098b9;
}

.submitPns {
    margin-top: 40px;
    font-size: 40px;
    font-weight: 500;
    padding: 0 50px;
    width: 380px;
}

.fthr {
    border-top-color: #00a4c5;
    margin-top: 90px;
    margin-bottom: 80px;
}

.fthr-t {
    border-top-color: transparent !important;
}

.ft_txt {
    text-align: center;
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 80px;
}

.ft_details ul li {
    list-style: none;
    display: inline-block;
}

.ft_details ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 40px;
}

.copy {
    margin-bottom: 10px;
}

.ftlink {
    margin-top: 10px;
}

.ftlink a {
    color: #fff;
    text-decoration: none !important;
    padding: 0 8px;
}

.ft_bottom.text-center {
    background: #252525;
    padding: 50px 0;
    color: #fff;
}

.copy span {
    padding: 0 8px;
}

.ft_details li img {
    width: 28px;
    vertical-align: middle;
    margin-right: 10px;
}

.abt_intro {
    padding: 100px 0 100px;
    background: url('../img/abt_bg.jpg') no-repeat center top #fff;
    background-size: cover;
}

.abt_intro h1 {
    color: #252525;
    margin-bottom: 60px;
    font-weight: 600;
}

.abt_intro h4 {
    font-size: 36px;
    font-weight: 400;
    padding: 10px 40px;
    line-height: 50px;
    margin-top: 80px;
}

.abt_cont {
    padding: 80px 0;
    background: #1967a9;
    color: #fff;
    font-size: 36px;
    text-align: center;
    font-weight: 300;
}

.abt_item p {
    padding: 20px 36px;
}

.shr {
    border-color: #00a4c5;
    max-width: 300px;
    margin: 50px auto;
}

input[type="number"] {
    -webkit-appearance: textfield;
    appearance: textfield;
    -moz-appearance: textfield;
}

.mTitle {
    padding: 80px 0;
}

.faqCollapse .card-header {

    background: #fff !important;
    border-radius: 0;
    border-color: #000e1f !important;
    padding: 0;
    border-bottom: 0;


}

.faqCollapse .card-header .btn.btn-link {
    color: #fff;
    display: block;
    padding: 12px 12px 12px 35px;
    width: 100%;
    text-align: left;
    background: #000e1f !important;
    text-decoration: none !important;
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.faqCollapse .card {
    border: 0;
    margin-bottom: 15px;
}

.faqCollapse .collapse,
.faqCollapse .collapsing {
    border: 2px solid #818286;
    margin-bottom: 15px;
}

.faqCollapse .card-header .btn.btn-link[aria-expanded="true"] {
    background: #00a4c5 !important;
    border-color: #00a4c5 !important;
}

[aria-expanded="false"] .vertical {
    transition: all 0.3s ease-in-out;
    transform: rotate(-90deg);
}

[aria-expanded="false"] .horizontal {
    transition: all 0.3s ease-in-out;
    transform: rotate(-90deg);
    opacity: 1;
}

[aria-expanded="true"] .circle-plus {
    opacity: 1;
}

[aria-expanded="true"] .vertical {
    transition: all 0.3s ease-in-out;
    transform: rotate(90deg);
    background: #00a4c5 !important;
}

[aria-expanded="true"] .horizontal {
    transition: all 0.3s ease-in-out;
    transform: rotate(90deg);
    background: #00a4c5 !important;
    opacity: 0;
}

.circle-plus {

    height: 35px;
    width: 35px;
    font-size: 20px;
    opacity: 1;
    display: inline-block;
    vertical-align: middle;

}

.circle-plus .circle {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #eee;
    padding: 10px;
}

.circle-plus .circle .horizontal {
    position: absolute;
    background-color: #000e1f;
    width: 18px;
    height: 4px;
    left: 50%;
    margin-left: -9px;
    top: 50%;
    margin-top: -2px;
}

.circle-plus .circle .vertical {
    position: absolute;
    background-color: #000e1f;
    width: 4px;
    height: 18px;
    left: 50%;
    margin-left: -2px;
    top: 50%;
    margin-top: -9px;
}

.mTitle.sm {
    padding: 50px 0;
}

.navbar-light .navbar-toggler {
    outline: none !important;
}
/* MQ */
@media only screen and (max-width: 992px) {
    .navbar-brand > .img-fluid {
        width: 250px !important;
    }
    #menuToggler {
        background: #f9f9f9;
        padding: 10px;
        border-top: 3px solid #00a4c5;
        margin-top: 10px;
    }
    #menuToggler li a {
        padding: 14px;
        border-right: 0;
        border-top: 1px solid #eee;
    }
    #menuToggler li:first-child a {
        border-top: 0;
    }
    .intro h1, .pnsform h1, .abt_intro h1, .mTitle h1 {
        font-size: 38px;
        line-height: 52px;
        margin-bottom: 28px;
    }
    .intro h2 {
        font-size: 30px;
        margin-bottom: 28px;
    }
    .intro h3 {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 28px;
    }
    .intro h4 {
        font-size: 17px;
    }
    .submitPns {
        margin-top: 30px;
        font-size: 34px;
        width: 360px;
    }
    .ft_txt {
        font-size: 16px;
    }
    .ft_details ul li {
        width: 50%;
    }
    .ft_details ul li {
    width: 50%;
    font-size: 14px;
    margin-bottom: 20px;
}
.ft_details ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0;
}
.ft_bottom.text-center {
    font-size: 14px;
}
.abt_intro h4 {

    font-size: 26px;
    font-weight: 300;
}
.abt_cont {
    font-size: 26px;
}
.fthr-t {
    margin-top: 50px;
    margin-bottom: 50px;
}
.abt_cont + .footer .ft_details ul {

    display: block;
    width: 300px;
    margin: 30px auto;

}
.ft_details ul li {
    width: 100%;
}
.mTitle {
    padding: 50px 0;
}
}
@media only screen and (max-width: 768px) {
	.container {
    max-width: 90%;
}
.intro h1, .pnsform h1, .abt_intro h1, .mTitle h1 {
    font-size: 32px;
    line-height: 44px;
}
.submitPns {
    font-size: 28px;
    width: 300px;
    padding: 8px 50px;
}
.ft_details ul li {
    font-size: 12px;
   }
   .fthr {
    margin-top: 60px;
    margin-bottom: 60px;
}
.intro h2 {
    font-size: 24px;
    margin-bottom: 22px;
}
.intro h3 {
    font-size: 20px;
}
.intro h4 {
    font-size: 14px;
    line-height: 22px;
}
.abt_intro h4 {

    font-size: 20px;
    font-weight: 300;
    line-height: 34px;
    margin-top: 40px;

}
.abt_intro {

    padding: 60px 0;
}
.abt_cont {
    font-size: 20px;
}
.shr {
    max-width: 220px;
    margin: 30px auto;
}
.abt_cont {
    padding: 60px 0;
}
.fthr {
    margin-top: 40px;
    margin-bottom: 40px;
}
.faqCollapse .card, .faqCollapse .card-header .btn.btn-link {
    font-size: 14px;
}
.circle-plus .circle .vertical {
    width: 2px;
    height: 14px;
    margin-left: -1px;
    margin-top: -7px;   
}
.circle-plus .circle .horizontal {
    width: 14px;
    height: 2px;
    margin-left: -7px;
    margin-top: -1px;
}
}
@media only screen and (max-width: 640px) {
	
	.intro h1, .pnsform h1, .abt_intro h1, .mTitle h1 {
    font-size: 28px;
    line-height: 38px;
}
.intro h2 {
    font-size: 20px;
    margin-bottom: 20px;
}
.intro h3 {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 26px;
}
.intro h4 br {

    display: none;

}
.pension_form .form-row .col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
}
.pension_form .form-row .col-6 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
}
.form-row.justify-content-center .col-7 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
}
.submitPns {
    width: 94%;
    padding: 8px 50px;
}
.ft_details ul li {

    width: 260px;
}
.copy {
    font-size: 0;
    line-height: 12px;
}
.copy span,
.ftlink a {
    color: #fff;
    display: block;
    font-size: 12px;
}
.ftlink {
    color: #252525;
    font-size: 0;
}
.abt_intro h4 {
    font-size: 16px;
    margin-top: 24px;
}
.abt_cont {
    font-size: 16px;
}
.shr {
    max-width: 180px;
    margin: 18px auto;
}
.mTitle {
    padding: 30px 0;
}
.mTitle.sm h1 {
    font-size: 36px;
    line-height: 42px;
}
.fullContent {
    font-size: 14px;
    font-weight: 300;
}
}

@media only screen and (max-width: 440px) {
    .navbar-brand > .img-fluid {
        width: 200px !important;
    }
    .intro h1, .pnsform h1, .abt_intro h1, .mTitle h1 {
        font-size: 22px;
        line-height: 34px;
    }
    .intro h2 {
        font-size: 17px;
        margin-bottom: 20px;
    }
    .intro h3 {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .intro h4 {
        font-weight: 400;
    
    }
    .submitPns {
        font-size: 22px;
    }
    .ft_txt {
        font-size: 14px;
    }
    .ft_bottom.text-center {
        padding: 30px 0;
    }
    .abt_intro h4 {
        font-size: 14px;
        line-height: 26px;
    }
    .abt_cont {
        font-size: 14px;
    }
    .abt_cont {
        padding: 40px 0;
    }
    .navbar-brand > .img-fluid {

        width: 180px !important;
    
    }
    .ft_logo img {
        width: 180px !important;
    }
    .abt_item p {
        padding: 20px 0;
    }
    .abt_intro {

        padding: 30px 0 60px;
    
    }
    .mTitle.sm h1 {
        font-size: 30px;
        line-height: 36px;
    }
    .mTitle.sm {

        padding: 30px 0;
    
    }
}